.formWrapper {
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    overflow: auto;
    display: grid;
    -webkit-backdrop-filter: contrast(0.5);
    backdrop-filter: contrast(0.5);
    color: white;
}

.formWrapper form {
    margin: auto;
    width: 90%;
    padding: 20px;
    position: relative;
    min-height: 90%;
    box-sizing: border-box;
    background: #131d38;
    box-shadow: 0px 0px 34px black;
    border-radius: 7px;
}

.formWrapper form>span {
    display: block;
    margin-bottom: 15px;
}

.formWrapper form .title {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 6px;
    margin: 5px 0 20px;
}

.formWrapper form label {
    margin-block: 14px 4px;
    display: block;
}

.formWrapper form input {
    width: calc(100% - 20px);
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #858585;
    border-radius: 4px;
}

.formWrapper form .value {
    display: none;
}

.formWrapper form .edit {
    display: none;
}

.formWrapper form input[type="file"]{
    color:white;
}

.formWrapper form input.submit {
    width: 20%;
    min-width: -moz-fit-content;
    min-width: -webkit-fill-available;
    min-width: fit-content;
    background-color: #05d705;
    color: black;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
}

.formWrapper form button.cancel {
    width: 20%;
    min-width: -moz-fit-content;
    min-width: -webkit-fill-available;
    min-width: fit-content;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
}

.quartileContainer {
	display: flex;
	gap: 0.5rem;
    align-items: center;
    position: relative;
}

.quartileContainer button {
	background-color: transparent;
	color: white;
	font-weight: bold;
	border: 1px solid white;
	border-radius: 50%;
	padding: 0.5rem 0.3rem;
	font-size: 0.6rem;
	height: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	aspect-ratio: 1;
	margin-top: 8px;
}

.quartileContainer .quartileTooltip {
	color: white;
	position: absolute;
	width: max-content;
	max-width: 20rem;
	font-size: 0.8rem;
	top: -1.8rem;
	left: 6.4rem;
	background-color: rgba(255, 255, 255, 0.775);
	color: #131d38;
	padding: 0.5rem;
	border-radius: 0.25rem;
	z-index: 10;
}