body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow-x: hidden;
  font-family: 'Arial', sans-serif;
  background-image: none;
  background-color: white;
}

.titlebar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #131d38;
  color: white;
  height: 15dvh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  outline: 2px solid #000;
  width: 100%;
}

.titlebar .logo {
  height: 100%;
  border-radius: 15%;
  margin-left: 20px;
}

.titlebar .web-name {
  color: white;
  font-size: 28px;
  font-weight: bold;
  display: flex;
}

.titlebar .logout {
  color: #ff4c4c;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}

.titlebar .logout::after{
  font-family: none;
  color: white;
  content: "logout";
  position: absolute;
  top: 100%;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  font-size: small;
  right: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  height: 85dvh;
  width: 100%;
}

.divisions {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: white;
}

.box {
  display: flex;
  flex: 1;
  padding: 20px;
  margin: 10px;
  background-color: #131d38;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  text-align: center;
  transition: transform 0.2s ease;
  max-width: 240px;
  box-sizing: content-box;
}

.box:hover {
  transform: scale(1.05);
}

.box img {
  border-radius: 5px;
  width: 30%;
  max-width: 240px;
  border: 1px solid #000;
  background: white;
  margin: auto 0;
}

.box a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin: auto auto auto 10px;
}

.profile {
  background-color: white;
  width: 100%;
  padding: 20px;
  margin: 17px;
  border-radius: 25px;
  box-shadow: 0 0 8px black;
}

.profile h1 {
  color: black;
  align-self: flex-start;
  font-size: 30px;
  margin-left: 1%;
  position: relative;
  width: 100%;
  font-weight: bold;
  display: block;
}

.profile h3 {
  color: black;
}

.information h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.information h3 {
  font-size: 18px;
  font-style: italic;
  text-align: center;
  font-weight: lighter;
  margin: 0;
  margin-top:2px;
}

.profileform {
  margin-top: 20px;
}

.profileform form {
  display: flex;
  flex-direction: column;
}

.profileform label {
  margin-bottom: 10px;
  font-weight: bold;
  color: black;
}
.profileform .info-d {
  padding: 10px;
  font-size: larger;
}

.profileform .profileEditBtn {
  background-color: #01a701;
  color: black;
  padding: 12px 25px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 24px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, transform 0.2s;
  font-weight: bold;
  font-family: inherit;
}

.profileform .profileEditBtn:hover {
  background-color: green;
  transform: scale(1.1);
}

.profileform label {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}

.name2 {
  color: black;
  align-self: flex-start;
  font-size: 30px;
  margin-left: 1%;
  position: relative;
  width: 100%;
  font-weight: bold;
  display: block;
}

@media only screen and (max-width:480px) {
  body {
    overflow-x: hidden;
  }

  .titlebar .web-name {
    color: white;
    font-size: 28px;
    font-weight: bold;
    display: flex;
  }

  .information h2{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  .information h3 {
    font-size: 12px;
    font-style: italic;
    text-align: center;
  }

  .profilepic{
    display: none;
  }

  .profileform .info-d{
    display:flex ;
    font-size: small;
    padding: 2px;
    row-gap: 0px;
    flex-wrap: wrap;
  }

  .profileform{
    display:flex ;
    padding: auto;
    height: max-content;
  }
  
  .profileoutput{
    font-size: smaller;
  }
}
