body,
html {
    margin: 0;
    padding: 0;
    line-height: 2;
}

.page-container {
    width: 210mm;
    min-height: 297mm;
    margin: 0 auto;
    padding: 20mm;
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.page1,
.page2,
.page3,
.page4,
.page5 {
    flex: 1;
    margin-bottom: 20mm;
    page-break-after: always;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #000;
    padding: 8px;
}

#signatures {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-around;
}


.faculty-details {
    display: flex;
}

.profile-photo {
    margin-left: auto;
}

.smalltext {
    font-size: 55%;
}

.designation-section,
.appointment-section,
.date-section,
.address-section,
.contact-section,
.workshopattened-section,
.edu-section,
.qualifications-section,
.details-section,
.research-section,
.publication-section{
    margin-left: 4%;
}